@page
@model WebApplication2.Pages.Clients.EditModel
@{
}

<br />
<h2>Novi Klijent</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}

<form method="post">
    <input type="hidden" name="id" value="@Model.clientInfo.id" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Ime i Prezime</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="ime_prezime" value="@Model.clientInfo.ime_prezime" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Adresa</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="adresa" value="@Model.clientInfo.adresa" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Radno mesto</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="radno_mesto" value="@Model.clientInfo.radno_mesto" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Plata</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="bruto_neto" value="@Model.clientInfo.bruto_neto" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-outline-primary" href="/Clients/Index" role="button">Cancel</a>
        </div>
    </div>
</form>
